@import '../../styles/colors', '../../styles/typography.scss';

.default-btn {
    height: 62px;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0px 28px;
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $white;
    background-color: $brand-color-2;
    border-radius: 5px;
    &.transparent {
        background-color: transparent;
        border: 1px solid $gray-medium;
        color: $gray-medium;
        height: 38px;
        font-size: 14px;
    }
}

.banner {
    height: 444px;
    img {
        border-radius: 0px 24px 24px 0px;
        display: flex;
        flex: 1;
        height: 100%;
        object-fit: cover;
    }
    .label-container {
        width: 490px;
        height: 100%;
        background-color: $brand-color;
        border-radius: 24px 0px 0px 24px;
        padding-left: 80px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            right: 0px;
            transform: translateX(calc(100% - 2px));
            height: 444px;
            width: 412px;
            background: linear-gradient(90deg, #A02A23 0%, rgba(160, 42, 35, 0) 100%);
        }
    }
}